# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
CREDITS-fml.txt
forge-1.10.2-12.18.1.2011-changelog.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
run-1.10.2/
run-1.9.4/
MinecraftForge-License.txt
LICENSE-fml.txt
forge-1.9.4-12.17.0.1922-1.9.4-changelog.txt
run-1.11/
